
#sidebarBackground{
    background-color: rgba(255, 255, 255, 0.91);
    background-image: linear-gradient(to right, rgba(254, 254, 254, .3), rgba(254, 254, 254, 0.842));
}
#calendarSide{
    background-color: white;
}
label{
    color: #727272;
    font-size: 17px;
    font-weight: 600;
}
#loginLabel{
    color: #6b6b6b;
    font-size: 22px;
}
#userName{
    color: #2e2f31;
    font-size: 27px;
    font-weight: 600;
}
#createEventButton{
    border-width: 2px;
    border: solid 2px #3584E4;
    color: #3584E4;
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

#createEventButton:checked{
    font-size: 22px;
    background: #e7e6e6;
}

calendar{
    background-color: #f5f5f5;
    color: #262626;
}
button:hover{
    background: #f5f5f5;  
}
button:checked{
    background: #f5f5f5;
}



/* =================== */

#importantCheck:checked {
    background: #d45f4a;
}
#workCheck:checked{
    background: #f5c445;
}
#reminderCheck:checked{
    background: #4facf2;
}
#holidayCheck:checked{
    background: #6f9d51;
}


#importantCheck:hover {
    opacity: 0.8;
    background: #d45f4a;

}
#workCheck:hover{
    opacity: 0.8;
    background: #f5c445;


}
#reminderCheck:hover{
    opacity: 0.8;
    background: #4facf2;

}
#holidayCheck:hover{
    opacity: 0.8;
    background: #6f9d51;

}

/* ==================== */


/* #boxFrame{
    border: solid 1px #dbdbdb;
} */

#importantLable{
    background: #d45f4a;
}
#reminderLabel{
    background: #4facf2;
}
#workLable{
    background: #f5c445;
}

popover{
    border: 9px solid white;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 0px #696969; 
    box-shadow: 0px 0px 6px 0px #696969;
}

#confirmButton{
    color: white;
    background: #3584E4;
}
#holidayLabel{
    background-color: #dcf1d2;
    color: #6f9d51;
    border-radius: 5px;
    padding: 0 27px;
}
#dayinWeek{
    font-size:37px;
    font-weight: 800;
    color: #3584E4;
}
slider{
    border-radius: 5px;
}
switch{
    border-radius: 5px;
}
switch:checked{
    border-radius: 5px;
    background: #3584E4;
}

#titleDate{
    color: #2e2f31;
    font-size: 47px;
    font-weight: 900;
}

#titleYear{
    color: #3584E4;
    font-size: 37px;
    font-weight: 700;
}

#date{
    color: #2e2f31;
    font-size: 22px;
    font-weight: 700;
}

#reviewEventTitle{
    color: #2e2f31;
    font-size: 27px;
    font-weight: 700;
}
#controlButton{
    background-color: #f5f5f5;
    border: 1.5px solid #dbdbdb;
}
#controlButton:hover{
    background-color: #e7e6e6;
}
textview text {
    background-color: #f5f5f5;
    color: #2e2f31;
}
#entryTitle{
    background: #f5f5f5;
    color: #2e2f31;
}

/* ////////====== */
#day{
    border: solid 1px #dbdbdb;
    border-radius: 0px;
}

entry{
    background: #f5f5f5;
    color: #2e2f31;
}
#icon{
    color: #2e2f31;
}

#notification.popup{
    border: solid  1px #dbdbdb;
    -webkit-box-shadow: 0px 0px 6px 0px #696969; 
    box-shadow: 0px 0px 6px 0px #696969;
}


calendar{
    background-color: white;
}
calendar.highlight {
    color: #d45f4a
}
calendar:selected
{
	background-color: #3584E4;
}

calendar.date{
    color: #d45f4a
}