/* set background darkmode */
#sidebarBackground{
    background-color: rgba(47, 48, 50, 0.95);
    background-image: linear-gradient(to right, rgba(47, 48, 50, .3), rgba(47, 48, 50, 0.842));

}
#calendarSide{
    background-color: #262626;
}
label{
    color: #fafafa;
    font-size: 17px;
    font-weight: 600;
}
#loginLabel{
    color: #fafafa;
    font-size: 22px;

}
#userName{
    color: #fafafa;
    font-size: 27px;
    font-weight: 600;
}
#createEventButton{
    border: solid 2px orange;
    font-size: 22px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

#createEventButtonLabel{
    color: orange;
    font-size: 22px;
    font-weight: 600;
}


#createEventButton:checked{
    font-size: 22px;
    background: #585b60;
}

button:hover{
    background: rgba(88, 91, 96, 0.5);
    border-color: transparent;
}
/* =================== */

#importantCheck:checked {
    background: #d45f4a;
}
#workCheck:checked{
    background: #f5c445;
}
#reminderCheck:checked{
    background: #4facf2;
}
#holidayCheck:checked{
    background: #6f9d51;
}


#importantCheck:hover {
    opacity: 0.8;
    background: #d45f4a;

}
#workCheck:hover{
    opacity: 0.8;
    background: #f5c445;


}
#reminderCheck:hover{
    opacity: 0.8;
    background: #4facf2;


}
#holidayCheck:hover{
    opacity: 0.8;
    background: #6f9d51;

}
/* ==================== */

/* #boxFrame{
    border: solid 1px #3f3f3f;
} */

#importantLable{
    background: #d45f4a;
}
#reminderLabel{
    background: #4facf2;
}
#workLable{
    background: #f5c445;
}

popover{
    border: 9px solid #313131;
    background-color: #313131;
    -webkit-box-shadow: 0 0 7px 0 #18191a;
    box-shadow: 0 0 6px 0 #18191a;
}

#confirmButton{
    color: white;
    background: orange;
}
#holidayLabel{
    background-color: #274521;
    color: #62b74a;
    border-radius: 5px;
    padding: 0 27px;
}

#dayinWeek{
    font-size:37px;
    font-weight: 800;
    color: orange;
}

#controlButton{
    background-color: #585b60;
}
#icon{
    color: #cdcfd0;
}

slider{
    border-radius: 5px;
}
switch{
    border-radius: 5px;
}
switch:checked{
    border-radius: 5px;
    background: orange;
}

#titleDate{
    color: #fafafa;
    font-size: 47px;
    font-weight: 900;
}

#titleYear{
    color: orange;
    font-size: 37px;
    font-weight: 700;
}
#date{
    color: #fafafa;
    font-size: 22px;
    font-weight: 700;
}
button:checked{
    background: #585b60;
}
calendar{
    background: #2e2f31;
    color: #fafafa;
}
#entryTitle{
    background: #585b60;
    color: #fafafa;
}
textview text {
    background-color: #585b60;
    color: #fafafa;
}
#reviewEventTitle{
    color: #fafafa;
    font-size: 27px;
    font-weight: 700;
}
#cc{
    color: #fafafa;
    background-color: #e9e9e9 ;
    border-radius: 5px;
}

#day{
    border: solid 1px #3f3f3f;
    border-radius: 0;
}
entry{    background: #585b60;
    color: #fafafa;}

#notification{
    background-color: #313131;
    border: 2px solid #585b60;
    -webkit-box-shadow: 0 0 7px 0 #18191a;
    box-shadow: 0 0 7px 0 #18191a;
}