/* set background darkmode */
#sidebarBackground{
    background-color: #2e2f31;
}
#calendarSide{
    background-color: #202124;
}
label{
    color: #fafafa;
    font-size: 20px;
    font-weight: 600;
}
#loginLabel{
    color: #6b6b6b;
    font-size: 20px;
}
#createEventButton{
    border-width: 2px;
    border: solid 2px orange;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#createEventButtonLabel{
    color: orange;
    font-size: 25px;
    font-weight: 600;
}

#createEventButton:hover{
    font-size: 25px;
    background: #585b60;
}
#createEventButton:checked{
    font-size: 25px;
    background: #585b60;
}

button:hover{
    opacity: 0.1;
}


#importantCheck:checked {
    color: white;
    background: #d45f4a;
}
#workCheck:checked{
    color: white;
    background: #f5c445;
}
#reminderCheck:checked{
    color: white;
    background: #4facf2;
}
#taskCheck:checked{
    color: white;
    background: #b05fd1;
}

#boxFrame{
    border: solid 1px #3f3f3f;
}

#importantLable{
    background: #d45f4a;
}
#reminderLabel{
    background: #4facf2;
}
#workLable{
    background: #f5c445;
}

popover{
    border: 12px solid #2e2f31;
    background-color: #2e2f31;
    -webkit-box-shadow: 0px 0px 7px 0px #18191a; 
    box-shadow: 0px 0px 6px 0px #18191a;
}

#confirmButton{
    color: white;
    background: orange;
}
#holidayLabel{
    background-color: #274521;
    color: #62b74a;
    border-radius: 8px;
    padding: 0 40px;
}

#dayinWeek{
    font-size:40px;
    font-weight: 800;
    color: orange;
}

#controlButton{
    background-color: #585b60;
}
#icon{
    color: #cdcfd0;
}

slider{
    border-radius: 8px;
}
switch{
    border-radius: 8px;
}
switch:checked{
    border-radius: 8px;
    background: orange;
}

#titleDate{
    color: #fafafa;
    font-size: 50px;
    font-weight: 900;
}

#titleYear{
    color: orange;
    font-size: 40px;
    font-weight: 700;
}
#date{
    color: #fafafa;
    font-size: 25px;
    font-weight: 700;
}
button:checked{
    background: #585b60;
}
calendar{
    background: #2e2f31;
    color: #fafafa;
}
#entryTitle{
    background: #585b60;
    color: #fafafa;
}
textview text {
    background-color: #585b60;
    color: #fafafa;
}
#reviewEventTitle{
    color: #fafafa;
    font-size: 30px;
    font-weight: 700;
}
#cc{
    color: #fafafa;
    background-color: #e9e9e9 ;
    border-radius: 8px;
}

stackswitcher {
    background: #585b60;
}
stackswitcher:hover{
    background: #585b60;
    color: #fafafa;
    opacity: 0;
}